.maps {
	position: absolute;
	top: 0px;left: 0px;right: 0px;bottom: 0px;
}
.pencarian {
	position: fixed;
	top: 25px;left: 0px;right: 0px;
}
.box {
	padding: 1px 20px;
	width: 85%;
	height: 60px;
	font-size: 20px;
	color: #454545;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-left: 5%;
}
.box:focus { outline: none; }
.cta {
	position: fixed;
	bottom: 5%;left: 5%;right: 5%;
	text-align: center;
}
.cta button {
	width: 230px;
	height: 55px;
	background-color: #fcd840;
	color: #444;
	border: none;
	font-size: 20px;
	border-radius: 5px;
	font-weight: bold;
}